@page
@model MichaelHeenanBlog.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="bg-light">
        <h1 class="display-4 text-center">Blog!</h1>

        @foreach (var blogpost in Model.BlogPostSummarys)
        {
            <partial name="_BlogPostSummary" model="blogpost" />
        }
    </div>
