@page
@model MichaelHeenanBlog.Pages.SignInModel
@{
    ViewData["Title"] = "Admin Sign In";
}

<h1>Administrator Sign In</h1>

<div>
    <form method="post">
        <div class="form-group">
            <label>
                Username
                <input asp-for="AdminLogin.Username" type="text" class="form-control" aria-describedby="titleHelp" placeholder="Username">
            </label>
            <small id="titleHelp" class="form-text text-muted">Enter your Username</small>
        </div>
        <div class="form-group">
            <label>
                Password
                <input asp-for="AdminLogin.Password" type="password" class="form-control" aria-describedby="bodyHelp" placeholder="Password">
            </label>
            <small id="bodyHelp" class="form-text text-muted">Enter your Password</small>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>