@page "{urlFragment?}"
@model MichaelHeenanBlog.Pages.TagIndexModel
@{
    ViewData["Title"] = "TagIndex";
}

    <div class="bg-light">
        <h1 class="display-4 text-center">Posts with matching tags</h1>

        <div class="container">

            @foreach (var blogpost in Model.PagedPosts)
            {
                <partial name="_BlogPostSummary" model="blogpost" />
            }
        </div>

        @if (Model.Pager.Pages.Any())
        {
            <nav class="table-responsive">
                <ul class="pagination justify-content-center d-flex flex-wrap">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/TagIndex/@Model.UrlFragment">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/?p=@(Model.Pager.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @foreach (var p in Model.Pager.Pages)
                    {
                        <li class="page-item @(p == Model.Pager.CurrentPage ? "active" : "")">
                            <a class="page-link" href="/TagIndex/@Model.UrlFragment?p=@p">@p</a>
                        </li>
                    }

                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/TagIndex/@Model.UrlFragment?p=@(Model.Pager.CurrentPage + 1)">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/TagIndex/@Model.UrlFragment?p=@(Model.Pager.TotalPages)">Last</a>
                        </li>
                    }
                </ul>
            </nav>
        }

        @*<div class="tag tag-cloud">
            <h4 class="text-center">Tag Cloud</h4>
            @foreach (var tag in Model.TagCloud)
            {
                <span class="tag kind-@tag.Category">@tag.Text</span>
            }
        </div>*@



        <div class="tag tag-cloud">
            <h4 class="text-center">Tag Cloud</h4>
            @foreach (var tag in Model.TagGroupInfo)
            {
        
                <a class="tag kind-@tag.Category" href="/TagIndex/@tag.UrlSlug">@tag.DisplayName</a>
            }
        </div>

    </div>

