@page
@model MichaelHeenanBlog.Areas.Admin.Pages.CreateBlogPostModel
@{
    ViewData["Title"] = "CreateBlogPost";
}

<h1>Create Blog Post</h1>
<form method="post">
    <div class="form-group">
        <label>
            Title
            <input asp-for="BlogPost.Title" type="text" class="form-control" aria-describedby="titleHelp" placeholder="Title">
        </label>
        <small id="titleHelp" class="form-text text-muted">The title of the blog post</small>
    </div>
    <div class="form-group">
        <label>
            Body
            <textarea asp-for="BlogPost.Body" type="text" class="form-control " aria-describedby="bodyHelp" placeholder="Body"></textarea>
        </label>
        <small id="bodyHelp" class="form-text text-muted">The body of the blog post</small>
    </div>
    <div class="form-group">
        <label>
            Tags
            <input asp-for="BlogPost.Tags" type="text" class="form-control" aria-describedby="tagHelp" placeholder="tags">
        </label>
        <small id="tagHelp" class="form-text text-muted">The tags of the blogpost (comma separated list)</small>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>