@page
@model MichaelHeenanBlog.Areas.Admin.Pages.SignOutModel
@{
}

<h1>Administrator Sign Out</h1>
<form method="post">
    <p>Are You Sure You Want To Sign Out?</p>
    <button type="submit" class="btn btn-primary">Yes</button>
    <a href="/index" class="btn btn-primary">No</a>
</form>